<h1 class="text-2xl font-bold">Partners</h1>

<nz-input-group [nzSuffix]="suffixTemplate" class="mb-3">
    <input
      type="text"
      nz-input
      placeholder="Search Name"
      [ngModel]="searchValue()"
      (ngModelChange)="searchValue.set($event)"
    />
</nz-input-group>
<ng-template #suffixTemplate>
<span
    nz-icon
    nzType="close"
    (click)="reset($event)"
></span>
</ng-template>

<nz-table
    #partnersTable
    nzShowPagination
    nzShowSizeChanger
    [nzData]="listOfDisplayData"
    [nzLoading]="store.status() === Status.Loading"
    [nzPageSizeOptions]="[10, 20, 50]"
    [nzPageIndex]="store.pageIndex()"
    [nzPageSize]="store.pageSize()"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
>
    <thead>
      <tr>
        @for (column of columnDefinitions; track $index) {
            <th
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections"
                [nzFilterMultiple]="column.filterMultiple"
                [nzShowFilter]="column.listOfFilter.length > 0"
                [nzFilters]="column.listOfFilter"
                [nzFilterFn]="column.filterFn"
                [nzWidth]="column.width"
            >
                {{column.name}}
            </th>
        }
      </tr>
    </thead>
    <tbody>
        @for (data of partnersTable.data; track $index) {
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.reference }}</td>
                <td>{{ data.locale | country }}</td>
                <td>{{ data.expirationTime | date }}</td>
                <td nzAlign="center" class="space-x-5">
                    <span nz-icon nzType="edit" nzTheme="twotone" nzTwotoneColor="blue"></span>
                    <span nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="red"></span>
                </td>
            </tr>
        }
    </tbody>
</nz-table>