<nz-layout class="h-full">
  <nz-header class="flex justify-between">
    <img ngSrc="logoipsum.svg" width="200" height="64" priority class="mr-3">
    <span
      nz-icon
      nzTheme="fill"
      [id]="themeIcon()"
      [nzType]="themeIcon()"
      (click)="toggleTheme()"
    ></span>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item> Users </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>Content</nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>